body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #01730d;
    background-image: linear-gradient(to bottom right, #01730d, #06bd13);
    color: white;
    padding: 50px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

header .logo {
    width: 100px;
    height: auto;
}

.header-text {
    text-align: center;
    flex-grow: 1;
}

header .btn {
    background: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

header .btn:hover {
    background: #45a049;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.services,
.contact {
    padding: 50px 0;
    background: #f4f4f4;
}

.service {
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-bottom: 5px;
}

.contact form input,
.contact form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background: #45a049;
}

footer {
    background: #1D2632;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Slideshow */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 25vh;
    overflow: hidden;
}

.mySlides {
    display: none;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dot:hover {
    background-color: #717171;
}

/* Ikon WhatsApp Mengambang */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    z-index: 100;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section Paket */
.paket {
    padding: 50px 0;
    background: #fff;
}

.paket .container {
    text-align: center;
}

.paket h2 {
    margin-bottom: 30px;
    text-align: center;
}

.paket-item-container {
    display: flex;
    justify-content: space-around;
}

.paket-item {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 0 10px;
}

.paket-item h3 {
    margin-top: 0;
    text-align: center;
}

.paket-item .btn {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.paket-item .btn:hover {
    background: #45a049;
}

/* Section Testimoni */
.testimoni {
    padding: 50px 0;
    background: #f9f9f9;
}

.testimoni .container {
    text-align: center;
}

.testimoni h2 {
    margin-bottom: 30px;
    text-align: center;
}

.testimoni-slideshow {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.testimoni-slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    width: 25%;
    height: 15%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% / (3 + 1)));
    }
}

.testimoni-slide {
    display: inline-block;
    width: 100%;
    flex: none;
}

.testimoni-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dots/bullets/indicators */
.dot-testimoni {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-testimoni {
    background-color: #717171;
}

/* Dots on smaller screens */
@media only screen and (max-width: 768px) {
    /* Tambahkan perubahan khusus untuk layar kecil di sini */
    .header-container {
      flex-direction: column;
      text-align: center;
    }

    .header-text {
      margin-top: 20px;
    }

    .paket-item-container {
      flex-direction: column;
      align-items: center;
    }

    .paket-item {
      width: 80%; /* Mengisi 80% lebar layar */
      margin: 10px 0;
    }

    .whatsapp-float {
      bottom: 20px;
      right: 20px;
    }
}
